<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FBC80B8595C2165B3EB51E828E3836FBDAEA7FAB</string>
				<key>dateExpires</key>
				<string>11/26/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FBC80B8595C2165B3EB51E828E3836FBDAEA7FAB</string>
						<key>dateExpires</key>
						<string>11/26/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DR8HAF4CZ7</string>
						<key>name</key>
						<string>Shanghai Morimatsu Pharmaceutical Equipment Engineering Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FBC80B8595C2165B3EB51E828E3836FBDAEA7FAB</string>
						<key>dateExpires</key>
						<string>11/26/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DR8HAF4CZ7</string>
						<key>name</key>
						<string>Shanghai Morimatsu Pharmaceutical Equipment Engineering Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DR8HAF4CZ7.com.morimatsu.WorkReport</string>
				<key>com.apple.developer.team-identifier</key>
				<string>DR8HAF4CZ7</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>DR8HAF4CZ7.com.morimatsu.WorkReport</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f11720e3-7aeb-4618-858f-756867fdba89</string>
				<key>name</key>
				<string>ReportWorkDevelopment</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DR8HAF4CZ7</string>
				<key>name</key>
				<string>Shanghai Morimatsu Pharmaceutical Equipment Engineering Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
